body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --icons-color: #FFDF2B;
  --icons-light-color: #ffdf2b57;
  --icons-bg-color: #FFDF2B;
  --shadow-dark-color: #555557;
  --bg-shadow-dark-color: #555557;
  --shadow-light-color: #232325;
  --main-bg-color: #232325;
  --overlay: #2323255e;

  --box-shadow: 1px 1px 2px #FFDF2B,
  -1px -1px 2px #FFDF2B;

  --box-shadow-2:1px 1px 2px #FFDF2B,
  -1px -1px 2px #FFDF2B;

  background: #000000;
  color: white;

}