.container {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left_container {
    display: grid;
    width: 400px;
}

.layer_input {
    border: 1px solid #FFDF2B;
    width: 70%;
    padding: 8px 5px 8px 20px;
    border-radius: 1rem;
}

.submitbtn {
    border: 1px solid #FFDF2B;
    border-radius: 1rem;
    padding: 8px;
    width: 60px;
}

.mergebtn {
    border: 1px solid #FFDF2B;
    border-style: dashed;
    padding: 8px;
    width: 60%;
    margin-left: 25px;
    margin-top: 100px;
}

.displayMergedImg {
    float: right;
}

.merged_images {
    margin: 30px;
    height: 200px;
    width: 200px;
}

/*Tags*/

input {
    border: none;
    outline: none;
    background-color: #232325;
    color: #FFDF2B;
    margin: 2px;
    font-size: 0.9rem;
}

button {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #FFDF2B;
    margin: 0 10px;
    padding: 2px 10px;
    
}

h1 {
    color: #FFDF2B;
    margin-left: 80px;
}

